.card {
  width: 40%;
  max-height: 90px;
  min-height: 90px;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card img {
  width: 50px;
  height: 50px;
  margin: 1rem 1rem 0 1rem;

  transition: all 0.3s;
}
.card img:hover {
  transform: scale(1.2);
}
.card p {
  width: 100%;
  text-align: center;
}
.list {
  font-size: 0.8rem;
}
@media screen and (max-width: 500px) {
  .card {
    width: 100%;
    max-height: 75px;
    min-height: 75px;
    margin: 0.5rem;
  }
}
