* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.App {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    126deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 105, 1) 38%,
    rgba(0, 202, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100vw;
  height: 100vh;
}
.main {
  width: 30vw;
  height: 65vh;
}
.head {
  width: 100%;
  height: 20%;
}
.head img {
  width: 100%;
  height: 100%;
}
.cardApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 2rem;
  text-align: center;
  color: rgb(243, 119, 31);
}
.items {
  display: flex;
  flex-wrap: wrap;
  border-style: none;
  border-radius: 20px;
  background-color: aqua;
}
